body {
  background: #242424;
  padding-left: 200px;
  padding-right: 200px;
}

img {
  max-width: 100%;
  height: auto;
}

.body {
  background: white;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 30px;
  text-align: center;
}

.footer {
  background: black;
  padding-top: 50px;
}

.header {
  background: black;
  color: grey;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
